.header {
    &__inner {
        display: flex;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        max-width: 273px;
        padding: 34px 69px 0 36px;
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
        margin-bottom: 143px;
    }
    &__logo {
        margin-bottom: 119px;
    }
    &__link:not(:last-child) {
        margin-bottom: 44px;
    }
    &__link {
        color: $title;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $violet;
        }
    }
    &__social {
        max-width: 190px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__facebook,
    &__google,
    &__twitter {
        display: inline-block;
    }
    &__facebook svg,
    &__google svg,
    &__twitter svg {
        width: 40px;
        height: 40px;
        fill: $white;
        transition: all 0.3s ease-in-out;
        &:hover {
            fill: $title;
        }
    }
    &__swiper {
        position: relative;
    }
    &__decor {
        position: absolute;
        bottom: 34px;
        right: -117px;
        clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
        max-width: 288px;
        padding: 19px 50px 19px 30px;
        color: $white;
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;
        background-color: $yellow;
    }
    &__button-container {
        width: 59px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 496px;
        bottom: 0;
    }
    &__swiper-button-prev,
    &__swiper-button-next {
        cursor: pointer;
    }

}