html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100%;
    background-color: #F2F2F2;
    color: $title;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 15px;
}
.global__title-settings {
    margin-bottom: 99px;
    max-width: 100%;
    @media (max-width: 1211px) {
        margin: 20px 0;
    }
}
.global__image {
    margin: 0 auto;
}
.global__title-content {
    text-align: center;
    margin-top: -40px;
}
.global__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    span {
        color: $violet;
    }
}
.global__text {
    font-size: 20px;
    line-height: 30px;
}