$text: #858585;
$title: #000000;
$violet: #4832DC;
$yellow: #FFAE00;
$grey: #D3D3D3;
$green: #37D679;
$white: #ffffff;
$hover: #e3a217;
$danger: #dc3545;
%lightp {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
%regularp {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
%mediump {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
%semiboldp {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
%boldp {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}