<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item footer__item-first">
                <ul class="footer__list">
                    <li class="footer__item-logo logo__footer"><a href="" class="footer__logo"><img src="images/logo.png" alt="logo"></a></li>
                    <li class="footer__item-info"><p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p></li>
                </ul>
            </div>
            <div class="footer__item footer__item-second">
                <h6 class="footer__title">ABOUT</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Contact Us</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">About Us</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Careers</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Corporate Information</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-third">
                <h6 class="footer__title">HELP</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Payments</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Shipping</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">FAQ</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Report</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-fourth">
                <h6 class="footer__title">POLICY</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Terms Of Use</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Security</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Privacy</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-fifth">
                <h6 class="footer__title">Social</h6>
                <div class="footer__social-icons">
                    <a href="#" class="footer__link-icon"><svg><use xlink:href="#facebook"></use></svg></a>
                    <a href="#" class="footer__link-icon"><svg><use xlink:href="#google"></use></svg></a>
                    <a href="#" class="footer__link-icon"><svg><use xlink:href="#twitter"></use></svg></a>
                </div>
                <h6 class="footer__contacts">
                    <a href="#" class="footer__location-icon"><svg><use xlink:href="#facebook"></use></svg></a>
                    <a href="#" class="footer__phone-icon"><svg><use xlink:href="#facebook"></use></svg></a>
                </h6>
            </div>
        </div>
    </div>
</footer>