<footer class="footer" id="help">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item footer__item-first">
                <ul class="footer__list">
                    <li class="footer__item-logo logo__footer"><a href="" class="header__logo"><img src="images/footer/footerlogo.png" alt="logo"></a></li>
                    <li class="footer__item-info"><p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p></li>
                </ul>
            </div>
            <div class="footer__item footer__item-second">
                <h6 class="footer__title">ABOUT</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Contact Us</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">About Us</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Careers</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Corporate Information</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-third">
                <h6 class="footer__title">HELP</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Payments</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Shipping</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">FAQ</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Report</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-fourth">
                <h6 class="footer__title">POLICY</h6>
                <ul class="footer__list">
                    <li class="footer__item-info"><a href="#" class="footer__link">Terms Of Use</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Security</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Privacy</a></li>
                    <li class="footer__item-info"><a href="#" class="footer__link">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item-fifth">
                <h6 class="footer__title">Social</h6>
                <div class="footer__social-icons">
                    <a href="https://www.facebook.com/" class="footer__link-icon"><svg><use xlink:href="#facebook"></use></svg></a>
                    <a href="https://www.google.ru/" class="footer__link-icon"><svg><use xlink:href="#google"></use></svg></a>
                    <a href="https://twitter.com/?lang=ru" class="footer__link-icon"><svg><use xlink:href="#twitter"></use></svg></a>
                </div>
                <div class="footer__contacts">
                    <h6 class="footer__contacts-title">Contact US</h6>
                    <div class="footer__contacts-container">
                    <a href="https://www.google.ru/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6971494,-74.259861,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728?hl=ru" class="footer__item-contacts footer-location"></a>
                    <a href="tel:+10000000000" class="footer__item-contacts footer-phone"></a>
                </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright__name">made by | andrew Thanks for watching <span>&#128519;</span></div>
        </div>
    </div>
</footer>