<div class="gallery" id="gallery">
    <div class="container bg__container">
        <div class="global__title-settings">
            <img src="images/gallery/title.png" alt="image" class="global__image">
            <div class="global__title-content global__title-content--edit">
            <h3 class="global__title"><span>Gallery</span> </h3>
            <p class="global__text">Lorem Ipsum is simply dummy text</p>
        </div>
        </div>
        <div class="gallery__container first__container">
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img1.jpg" class="gallery__image"><img data-src="images/gallery/img1.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img2.jpg" class="gallery__image"><img data-src="images/gallery/img2.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img3.jpg" class="gallery__image"><img data-src="images/gallery/img3.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img4.jpg" class="gallery__image"><img data-src="images/gallery/img4.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img5.jpg" class="gallery__image"><img data-src="images/gallery/img5.jpg" src="images/plug.svg" alt="gallery"></a>
        </div>
        <div class="gallery__container second__container hide__container">
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img6.jpg" class="gallery__image"><img data-src="images/gallery/img6.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img7.jpg" class="gallery__image"><img data-src="images/gallery/img7.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img8.jpg" class="gallery__image"><img data-src="images/gallery/img8.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img9.jpg" class="gallery__image"><img data-src="images/gallery/img9.jpg" src="images/plug.svg" alt="gallery"></a>
            <a data-fslightbox="instagram" data-type="image"  href="images/gallery/img10.jpg" class="gallery__image"><img data-src="images/gallery/img10.jpg" src="images/plug.svg" alt="gallery"></a>
        </div>
        <div class="gallery__btn-container">
            <button class="gallery__btn">view all gallery</button>
        </div>
    </div>
</div>