<div class="order" id="contact">
    <video class="order__video" autoplay muted loop>
        <source src="images/order/video1.mp4" type="video/mp4">
      </video>
      <form class="order__form">
        <div class="order__title">MAKE YOUR ORDER TODAY</div>
        <label class="order__form-label">
          <input class="order__name" type="text" name="name" placeholder="Enter your name" required>
        </label>
        <label class="order__form-label">
          <input class="order__phone" type="phone" name="phone" placeholder="Enter your phone number" required>
        </label>
        <label class="order__form-label">
          <input class="order__email" type="email" name="email" placeholder="Enter your email" required>
        </label>
        <button class="order__submit" type="submit">SUBMIT</button>
      </form>
</div>