<div class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__slider">
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img1.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img2.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img3.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img4.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img5.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__slide"><img class="reviews__image" data-src="images/reviews/img5.png" src="images/plug.svg" alt="reviews"></div>
            </div>
        </div>
    </div>
</div>