<div class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <img src="images/reviews/reviewsbg.jpg" alt="decorative" class="reviews__decorative">
            <div class="reviews__items">
                <div class="reviews__item"><img data-src="images/reviews/img1.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__item"><img data-src="images/reviews/img2.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__item quote"><img data-src="images/reviews/img3.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__item"><img data-src="images/reviews/img4.png" src="images/plug.svg" alt="reviews"></div>
                <div class="reviews__item"><img data-src="images/reviews/img5.png" src="images/plug.svg" alt="reviews"></div>
            </div>
    </div>
    <div class="reviews__slider">
        <div class="reviews__slide">
            <p class="reviews__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            <h6 class="reviews__name">Abigail Irene</h6>
        </div>
        <div class="reviews__slide">
            <p class="reviews__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            <h6 class="reviews__name">Abigail Irene</h6>
        </div>
        <div class="reviews__slide">
            <p class="reviews__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            <h6 class="reviews__name">Abigail Irene</h6>
        </div>
        <div class="reviews__slide">
            <p class="reviews__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            <h6 class="reviews__name">Abigail Irene</h6>
        </div>
        <div class="reviews__slide">
            <p class="reviews__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
            <h6 class="reviews__name">Abigail Irene</h6>
        </div>
    </div>
    <div class="reviews__button-container"></div>
        </div>
    </div>
</div>