<div class="services" id="services">
<div class="container">
    <div class="global__title-settings">
        <img src="images/services/decor.png" alt="image" class="global__image">
        <div class="global__title-content global__title-content--edit">
        <h3 class="global__title"><span>Our</span> Services</h3>
        <p class="global__text">Lorem Ipsum is simply dummy text</p>
    </div>
    <p class="services__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
    </div>
    <div class="services__inner">
        <div class="services__item">
            <div class="services__img"><img src="images/services/img1.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">Courier</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
        <div class="services__item">
            <div class="services__img"><img src="images/services/img2.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">RESIDENTIAL MOVERS</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
        <div class="services__item">
            <div class="services__img"><img src="images/services/img3.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">PACKAGING</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
        <div class="services__item">
            <div class="services__img"><img src="images/services/img4.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">COMMERCIAL MOVERS</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
        <div class="services__item">
            <div class="services__img"><img src="images/services/img5.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">Storage</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
        <div class="services__item">
            <div class="services__img"><img src="images/services/img6.svg" alt="services"></div>
            <div class="services__content">
                <h5 class="services__title">INternational</h5>
                <p class="services__text">Lorem Ipsum is simply dummy text of the printing...</p>
            </div>
        </div>
    </div>
</div>
</div>