<div class="works">
<div class="works__inner">
    <div class="works__bg"><img src="images/works/img1.png" alt="works">
    </div>
    <div class="works__content">
        <div class="works__info">
            <h3 class="global__title works__title"><span>How</span> it works?</h3>
            <p class="global__text works__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
        <div class="works__items">
            <div class="works__item works__item-violet">
            <div class="works__decor"><span data-target="75" class="counter__number"></span></div>
            <h5 class="works__name">ORDER</h5>
            <p class="works__subname">Lorem Ipsum is simply dummy text</p>
        </div>
        <div class="works__item works__item-green">
            <div class="works__decor"><span data-target="99" class="counter__number"></span></div>
            <h5 class="works__name">ProcessingR</h5>
            <p class="works__subname">Lorem Ipsum is simply dummy text</p>
        </div>
        <div class="works__item works__item-yellow">
            <div class="works__decor"><span data-target="40" class="counter__number"></span></div>
            <h5 class="works__name">Delivered</h5>
            <p class="works__subname">Lorem Ipsum is simply dummy text</p>
        </div>
        </div>
    </div>
</div>
</div>