<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
        <title>Our Food</title>
        <link rel="stylesheet" href="css/style.min.css">
    </head>
<body>
    <div class="wrapper">
        @@include('modules/header.html')
        <main class="main">
            @@include('modules/about.html')
            @@include('modules/order.html')
            @@include('modules/services.html')
            @@include('modules/works.html')
            @@include('modules/gallery.html')
            @@include('modules/reviews.html')
        </main>
        @@include('modules/footer.html')
    </div>
    <script src="js/bundle.js"></script>
</body>

</html>