<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
            <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
            <link rel="manifest" href="images/favicon/site.webmanifest">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
        <title>Our Food</title>
        <link rel="stylesheet" href="css/style.min.css">
    </head>
<body>
    <div class="wrapper">
        @@include('modules/header.html')
        <main class="main"></main>
        @@include('modules/footer.html')
    </div>
    <script src="js/bundle.js"></script>
</body>

</html>
<!-- <svg display="none">
    <symbol id="facebook" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 10C20 4.47715 15.5229 0 10 0C4.47715 0 0 4.47715 0 10C0 14.9912 3.65684 19.1283 8.4375 19.8785V12.8906H5.89844V10H8.4375V7.79688C8.4375 5.29063 9.93047 3.90625 12.2146 3.90625C13.3084 3.90625 14.4531 4.10156 14.4531 4.10156V6.5625H13.1922C11.95 6.5625 11.5625 7.3334 11.5625 8.125V10H14.3359L13.8926 12.8906H11.5625V19.8785C16.3432 19.1283 20 14.9912 20 10Z"/>
    </symbol>
</svg> -->
<!-- <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a> -->
<!-- <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img1size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img1.jpg" src="images/plug.svg" alt="instagram"></a> -->